/* Main Colour Palette */
$colour-default-blue: #173448;
$colour-default-red: #A83718;
$colour-default-accent-grey: #D8DBE2;
$colour-default-pastel-blue: #A9BCD0;
$colour-default-cadet-blue: #58A4B0;

$colour-default-light-blue: #6B7D8A;
$colour-default-light-red: #C77F6C;
$colour-default-lightest-red: #F4E7E4;
$colour-default-light-accent-grey: #E6E8EC;
$colour-default-light-pastel-blue: #C8D4E1;
$colour-default-light-cadet-blue: #94C5CC;

$colour-default-dark-blue: #0B1821;
$colour-default-dark-red: #4D190B;
$colour-default-dark-accent-grey: #636467;
$colour-default-dark-pastel-blue: #4D565F;
$colour-default-dark-cadet-blue: #284B50;

$colour-canvas-default: rgb(255, 250, 250);
$colour-dark-grey: rgb(19, 21, 22);

$colour-text-light-1: #F8F8F8;
$colour-text-light-2: #F0F0F0;
$colour-text-light-3: #F8F8F8;
$colour-text-dark-1: #101010;
$colour-text-dark-2: #202020;
$colour-text-dark-3: #282828;

$colour-box-shadow: #202020;

/* Font Stack */